.Header {
    text-align: center;
    background-image: url("../../images/header-image.jpg");
    background-size: cover;
    padding:10px 0;
    font-family: 'Alfa Slab One', cursive;
}
h1,
h3 {
    color: whitesmoke;
}
form {
    margin: auto;
    width: 50%;
    margin-top: 20px;
}
button {
    float: left;
}